.App {
  border: solid;
}

.wrapper{
  border: springgreen solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
}

.itemPage{
  border: steelblue solid;
  width: 50vw;
}

.displayItems{
  border: violet solid;
}

.item1{
  border: rgb(139, 97, 17) solid;
  display: flex;
  justify-content: space-evenly;
  /* height: 50vh; */

}

.item2{
  border: rgb(139, 97, 17) solid;
  display: flex;
  justify-content: space-evenly;
  /* height: 50vh; */

}

.checkoutPage{
  border: teal solid;
  width: 50vw;
}

.subtotalContainer, .deliveryContainer, .estimatedTaxContainer, .totalContainer{
  display: flex;
  justify-content: space-between;
}

.subtotal, .delivery, .tax, .total{
  border: thistle solid;
}

.calculated, .free, .taxAmount, .totalCalc{
  border: tomato solid;

}

.totalItems{
  border: turquoise solid;
  justify-self: flex-start;
}

.styledButton {
  min-width: 1em;
  max-width: 1em;
}




