.App {
  border: solid;
}

.wrapper{
  border: springgreen solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.itemPage{
  border: steelblue solid;
  width: 50vw;
}


.checkoutPage{
  border: teal solid;
  width: 50vw;
}

.subtotalContainer{
  display: flex;
  justify-content: space-between;
}

.subtotal{
  border: thistle solid;
}

.calculated{
  border: tomato solid;

}

.totalItems{
  border: turquoise solid;
  justify-self: flex-start;
}




